.PatientPage {
    background-color: rgb(164, 165, 168);
  }
  
.Patient-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    border-radius: 5px;
  }
  
  .Patient-title {
    font-size: 1.5em;
  }
  
  
  .Patient-header {
    text-align: center;
  }