<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'map.js') }}" ></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'generateKey.js') }}" ></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery-latest.js') }}" ></script>

	<title>MarkerTown</title>

	<style>
		/* Always set the map height explicitly to define the size of the div
		 * element that contains the map. */
		#map {
			height: 100%;
		}
		/* Optional: Makes the sample page fill the window. */
		html, body {
			height: 100%;
			margin: 0;
			padding: 0;
		}
	</style>
</head>

<body>
	<div id="background-carousel">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active" style="background-image:url({{url_for('static', filename='scenery1.jpg')}})"></div>
				<div class="item" style="background-image:url({{url_for('static', filename='scenery2.jpg')}})"></div>
				<div class="item" style="background-image:url({{url_for('static', filename='scenery3.jpg')}})"></div>
			</div>
		</div>
	</div>
	{% include 'navbar.html' %}
	<div class="jumbotron vertical-center">
		<div class="container text-center">
			<h1>Welcome to MarkerTown!</h1>
			<p></p>
			<form>
				<div class="form-group">
					<div class="row">
						<div class="col-md-12 main-button" onclick="createNewGroup()">
							<a class="btn btn-primary btn-lg" href="#" role="button">New Group</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$('#myCarousel').carousel({
		pause: 'none'
	})
</script>

</body>
</html>
