<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'PolygonWrapper.js') }}" ></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'map.js') }}" ></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'loadData.js') }}" ></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery-latest.js') }}" ></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
	<title>MarkerTown</title>

	<style>
		/* Always set the map height explicitly to define the size of the div
		 * element that contains the map. */
		#map {
			height: 100%;
		}
		/* Optional: Makes the sample page fill the window. */
		html, body {
			height: 100%;
			margin: 0;
			padding: 0;
		}
	</style>
</head>
  <body>
		{% include 'navbar.html' %}
		{{message}}
		<div class="container main-map">
			<div class="col-xs-2">
				<div id="map-buttons" class="btn-group-vertical hidden-xs">
					<button class="btn btn-success map-button"><i class="fas fa-location-arrow"></i> Click</button>
					<button class="btn btn-success map-button" onclick="changeMode('marker')"><i class="fas fa-map-marker"></i> Mark</button>
					<button class="btn btn-success map-button" onclick="changeMode('polygon')"><i class="fas fa-edit"></i> Polygon</button>
					<button class="btn btn-success map-button" onclick="loadData()"><i class="fas fa-upload"></i> Load</button>
					<button class="btn btn-success map-button"><i class="fas fa-eraser"></i> Delete</button>
					<button data-container="body" type="button" id="pop" class="btn btn-success map-button hidden-xs"  data-toggle="popover" data-trigger="manual" onclick="copyUrlToClipboard()" data-content="Copied url to clipboard!" data-placement="bottom"><i class="fas fa-envelope"></i> Invite</button>
				</div>
				<div id="map-buttons-small" class="btn-group-vertical hidden-lg hidden-md hidden-sm">
						<button class="btn btn-success map-button-small"><i class="fas fa-location-arrow"></i></button>
						<button class="btn btn-success map-button-small"><i class="fas fa-map-marker"></i></button>
						<button class="btn btn-success map-button-small"><i class="fas fa-edit"></i></button>
						<button class="btn btn-success map-button-small"><i class="fas fa-upload"></i></button>
						<button class="btn btn-success map-button-small"><i class="fas fa-eraser"></i></button>
						<button data-container="body" type="button" id="pop" class="btn btn-success map-button"  data-toggle="popover" data-trigger="manual" onclick="copyUrlToClipboard()" data-content="Copied url to clipboard!" data-placement="bottom"><i class="fas fa-envelope"></i></button>
					</div>
			</div>
			<div class="col-xs-10">
					<div id="map"></div>
			</div>
		</div>


		<script>
			init = () => {
			    initMap({{markers | tojson | safe}}, '{{key}}');
			}
			$(window).resize(function () {
    		var h = $(window).height(),
        offsetTop = 60; // Calculate the top offset
				$('#map').css('height', (h - offsetTop - 30));
				$('#map-buttons').css('height', (h - offsetTop - 30));
			}).resize();
			timer = 0;
			$("#pop").on("click", function(e){
					$('#pop').popover('show');
					if (timer > 0) {
						clearTimeout(timer);
          	timer = 0;
					}
					timer = setTimeout(function () {
						$('#pop').popover('hide');
					}, 2000);
					window.scrollTo(0,0);
			});
			$(document).ready(()=>{setInterval(pollDirtyBackEnd, 300)});
		</script>
		<script src='https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=init' async defer></script>
  </body>
</html>
